#Header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
#Header h1 {
  color: white;
  font-size: 56px;
}
#amount {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 0px;
  padding: 5px;
}
#select {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 33%;
  border: 0px;
  padding: 5px;
}
#button {
  border: 0px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}